#particles-js {
    background-color: #9372AD;

    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

h3 {
    text-color: white;
    text-align: center;
}