/* ---- reset ---- */

body {
  margin: 0;
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #9E9E9E;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;

  /*-webkit-filter: blur(2px) grayscale(1);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);*/
}

/* ---- our css ---- */

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFDD54;
  font-weight: 600;
  font-size: 140%;
  color: #212121;
}

.element {
  display: block;
  float: right;
  padding: 15px 50px;
  text-align: center;
  transition: background-color 0.15s;
}

.title {
  display: block;
  float: left;
  text-align: center;
  letter-spacing: 2.5px;
  font-weight: 700;
  padding: 8px 20px;
  font-style: italic;
  font-size: 140%;
}

.element:hover {
  background-color: #FFF1B8;
}

h1 {
  color: white;
  font-weight: 300;
  font-style: italic;
  font-size: 1500%;
}

h3 {
  color: white;
  font-weight: 300;
  font-style: italic;
  font-size: 600%;
}

h2 {
  color: #D6D6D6;
  font-weight: 300;
  font-style: italic;
  font-size: 180%;
  margin-top: -150px;
}

.content {
  text-align: center;
  background-color: rgba(109,83,128,0.95);
  padding-bottom: 20px;
  box-shadow: 1px 6px 60px #1a1a1a;
}          

.getStarted{
  background-color: rgba(130,99,152,0.95);
  box-shadow: 1px 6px 60px #1a1a1a;
  text-align: center;
  letter-spacing: 5px;
  transition: letter-spacing 0.5s, background-color 0.5s;
}

.getStarted:hover {
  letter-spacing: 10px;
  background-color: #9372AD;
}

.selected {
  color: gray;
}

.nav a {
  color: inherit;
  text-decoration: none;
}
